SECRET_KEY=ВВЕДИТЕ_ВАШИ_ДАННЫЕ
EMAIL_HOST_PASSWORD=ВВЕДИТЕ_ВАШИ_ДАННЫЕ
EMAIL_HOST=ВВЕДИТЕ_ВАШИ_ДАННЫЕ
EMAIL_PORT=ВВЕДИТЕ_ВАШИ_ДАННЫЕ
EMAIL_HOST_USER=ВВЕДИТЕ_ВАШИ_ДАННЫЕ

TELEGRAM_BOT_TOKEN=ВВЕДИТЕ_ВАШИ_ДАННЫЕ
YOUR_PERSONAL_CHAT_ID=5ВВЕДИТЕ_ВАШИ_ДАННЫЕ